<div class="b-menu">
  <div class="b-container ui secondary pointing menu">
    <%= link_to 'jqGrid', tests_jq_grid_path, class: current_page?(tests_jq_grid_path) ? 'active item' : 'item' %>
    <%= link_to 'ngGrid', tests_ng_grid_path, class: current_page?(tests_ng_grid_path) ? 'active item' : 'item' %>
    <%= link_to 'jqWidget', tests_jq_widgets_path, class: current_page?(tests_jq_widgets_path) ? 'active item' : 'item' %>
    <%= link_to 'kendo', tests_kendo_grid_path, class: current_page?(tests_kendo_grid_path) ? 'active item' : 'item' %>
  </div>
</div>