/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require ../javascripts/vendors/ng-grid/ng-grid.css
 */

.b-container {
    width: 1000px;
    margin: 0 auto !important;
}

.b-menu {
    padding: 15px 0;
}

.b-footer {
    padding: 15px 0;
}

.-success {
    color: #5bbd72 !important;
}

.-error {
    color: #d95c5c!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.b-loader {
    text-align: center;
}

.b-grid {
    margin: 10px 0;
    height: 500px;
}