<main class="b-container">
  <table id="scroll37"></table>
  <div id="pscroll37"></div>
</main>
<footer class="b-container b-footer">
  <div class="ui divided ordered list">
    <div class="item -success">Scrolling</div>
    <div class="item">Ability to remember scroll position and programmatically go to specific scroll position
      <span class="-success">(via API and custom methods)</span></div>
    <div class="item -success">Virtual Scrolling</div>
    <div class="item -success">Resizable columns</div>
    <div class="item -success">Header, content and footer templates (ability to display complex content)</div>
    <div class="item -success">Text wrapping and variable row height (via loadComplete)</div>
    <div class="item">Configure options, data source and columns in MVVM style (via bindings)
      <span class="-success">(could be integrated)</span></div>
    <div class="item -success">Show/Hide column programmatically</div>
    <div class="item -success">Grouping (via API)
      <span class="-error">(dont work with virtual scrolling, but as for dirty hack we can use auto pagination on bottom reached event - listening for scroll event via API methods)</span>
    </div>
    <div class="item -success">Sorting</div>
  </div>
  <!--<div class="ui divided list">-->
  <!--<div class="item"><a class="reload-grid" href="#">Try this out..</a></div>-->
  <!--</div>-->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="http://www.trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>
<script src="http://www.trirand.com/blog/jqgrid/js/jquery.jqGrid.js"></script>
<script>
    $(document).ready(function () {
        jQuery("#scroll37").jqGrid({
            url: '/test/holdings-print.json',
            datatype: 'json',
            colNames: ['Account Name', 'Account No.', 'Description', 'Symbol/CUSIP', 'Quantity', 'Price', 'Avg. Invest. Per Share', 'Current Value', 'Amount Invested', 'Invest. GL', 'Est. Annual Income'],
            colModel: [
                {name: 'acctName', index: 'acctName'},
                {name: 'acctNum', index: 'acctNum'},
                {name: 'desc', index: 'desc'},
                {name: 'dSym', index: 'dSym'},
                {name: 'current', index: 'current'},
                {name: 'costBasisGLPerc', index: 'costBasisGLPerc'},
                {name: 'hasOpen', index: 'hasOpen'},
                {name: 'plans', index: 'plans'},
                {name: 'prdType', index: 'prdType'},
                {name: 'quan', index: 'quan'},
                {name: 'shortName', index: 'shortName'}
            ],
            rowNum: 50,
            rowTotal: 20000,
            rowList: [20, 30, 50],
            scroll: 1,
            loadonce: true,
            pager: '#pscroll37',
            height: 400,
            rownumbers: true,
            gridview: true,
            viewrecords: true,
            autowidth: true
        });

        jQuery("#scroll37").jqGrid('navGrid', '#pscroll37', {
            del: false,
            add: false,
            edit: false
        }, {}, {}, {}, {multipleSearch: true});
    });
</script>
<script>
    //    $(document).ready(function() {
    //        jQuery("#scroll37").jqGrid({
    //            url:'http://127.0.0.1:3000/city/jq-batch.json',
    //            datatype: "json",
    //            height: 400,
    //            crossDomain: true,
    //            jsonp: true,
    //            colNames:['ID', 'City name', 'Zip code', 'State', 'Country', 'Time zone'],
    //            colModel:[
    //                {name: 'id',index: 'id',sorttype:'int'},
    //                {name: 'name', index: 'name'},
    //                {name: 'zip', index: 'zip'},
    //                {name: 'state', index: 'state'},
    //                {name: 'country', index: 'country'},
    //                {name: 'time_zone', index: 'time_zone'}
    //            ],
    //            rowNum: 50,
    //            rowTotal: 50,
    //            rowList : [20,30,50],
    //            scroll: 1,
    //            loadonce: false,
    //            mtype: "GET",
    //            rownumbers: true,
    //            rownumWidth: 40,
    //            gridview: true,
    //            pager: '#pscroll37',
    //            sortname: 'id',
    //            viewrecords: true,
    //            sortorder: "asc",
    //            caption: "<b>Html test</b>",
    //            width: null,
    //            shrinkToFit: false,
    ////            grouping: true,
    ////            groupingView : {
    ////                groupField : ['time_zone', 'zip'],
    ////                groupColumnShow : [true, true],
    ////                groupText : ['<b>{0}</b> Sum of totaly: {total}', '{0} Sum of totaly: {total}'],
    ////                groupCollapse : false,
    ////                groupOrder: ['asc', 'asc'],
    ////                groupSummary : [false, false]
    ////            },
    ////            loadComplete: function(data) {
    ////                console.info(data);
    ////            },
    ////            beforeProcessing: function(data, status, xhr) {
    ////                var element =  $(this).closest(".ui-jqgrid-bdiv");
    ////                window.x = element;
    ////                console.info({
    ////                    height: element.parent().height(),
    ////                    top: element.scrollTop()
    ////                });
    ////            }
    //        });
    //
    //        jQuery("#scroll37").jqGrid('navGrid','#pscroll37',{del:false,add:false,edit:false},{},{},{},{multipleSearch:true});
    //
    //        jQuery(".reload-grid").click(function(e){
    //            e.preventDefault();
    //            $("#scroll37").jqGrid('setGridParam',{page:3});
    //            $("#scroll37").trigger("reloadGrid");
    //        });
    //    });
</script>