<main class="b-container" ng-app="jqWidgetApp" ng-cloak>
  <div ng-controller="JQWidgetController">
    <div class="b-loader" ng-if="!data.loaded">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div ng-if="data.loaded">
        <jqx-grid jqx-settings="config.settings"></jqx-grid>
    </div>
  </div>
</main>
<footer class="b-container b-footer">
  <div class="ui divided ordered list">
    <div class="item -success">Scrolling</div>
    <div class="item">Ability to remember scroll position and programmatically go to specific scroll position</div>
    <div class="item -success">Virtual Scrolling <span class="-error">(has no ability to use it with grouping without paging - we can do it the dirty way - loading more items on bottom reached event)</span></div>
    <div class="item -success">Resizable columns</div>
    <div class="item">Header, content and footer templates (ability to display complex content)</div>
    <div class="item"><span class="-success">Text wrapping</span> and <span class="-error">variable row height</span> (can be implemented, but it can break some abilities, the solution is to use css styles the way table works: table/table-cell/table-row)</div>
    <div class="item -success">Configure options, data source and columns in MVVM style (via bindings) - includes AngularJS wrapper</div>
    <div class="item -success">Show/Hide column programmatically</div>
    <div class="item -success">Grouping</div>
    <div class="item -success">Sorting</div>
  </div>
</footer>
<!--Scripts start here-->
<%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.2.min.js' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/scripts/angular.min.js' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxcore' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxdata' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxbuttons' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxangular' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxscrollbar' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxmenu' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxgrid' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxgrid.selection' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxgrid.sort' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxgrid.grouping' %>
<%= javascript_include_tag 'vendors/jqwidgets-ver3.7.0/jqwidgets/jqxgrid.columnsresize' %>
<%= javascript_include_tag 'app/models/ModelsModule' %>
<%= javascript_include_tag 'app/models/place/Place' %>
<%= javascript_include_tag 'app/models/account/Account' %>
<%= javascript_include_tag 'app/controllers/jqWidget/ControllersModule' %>
<%= javascript_include_tag 'app/controllers/jqWidget/jq-widget/JQWidgetController' %>
<%= javascript_include_tag 'app/jqWidgetApp' %>
<!--Script ends here-->