<main class="b-container">
  <div id="grid"></div>
</main>
<!--Scripts start here-->
<%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.2.min.js' %>
<script src="http://cdn.kendostatic.com/2014.3.1316/js/kendo.all.min.js"></script>
<script src="http://demos.telerik.com/kendo-ui/content/shared/js/people.js"></script>
<script>
    $(document).ready(function () {
        Faker.generateAccounts(20000, function(data) {
            $("#grid").kendoGrid({
                dataSource: {
                    data: data,
                    pageSize: 20
                },
                height: 543,
                scrollable: {
                    virtual: true
                },
                pageable: {
                    info: true,
                    numeric: false,
                    previousNext: false
                },
                columns: [
                    {field: 'acctName', title: 'Account Name'},
                    {field: 'acctNum', title: 'Account No.'},
                    {field: 'desc', title: 'Description'},
                    {field: 'dSym', title: 'Symbol/CUSIP'},
                    {field: 'current', title: 'Quantity'},
                    {field: 'costBasisGLPerc', title: 'Price'},
                    {field: 'hasOpen', title: 'Avg. Invest. Per Share'},
                    {field: 'plans', title: 'Current Value'},
                    {field: 'prdType', title: 'Amount Invested'},
                    {field: 'quan', title: 'Invest. GL'},
                    {field: 'shortName', title: 'Est. Annual Income'}
                ]
            });
        });

//        $("#grid").kendoGrid({
//            dataSource: {
////                pageSize: 20,
//                type: "odata",
//                serverPaging: true,
//                serverSorting: true,
//                pageSize: 100,
//                transport: {
////                    read: '/test/holdings-print-schema.json'
//                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
//                },
//                schema: {data: 'data'}
//            },
//            height: 543,
//            scrollable: {
//                virtual: true
//            },
//            columns: [
//                {field: 'acctName', title: 'Account Name'},
//                {field: 'acctNum', title: 'Account No.'},
//                {field: 'desc', title: 'Description'},
//                {field: 'dSym', title: 'Symbol/CUSIP'},
//                {field: 'current', title: 'Quantity'},
//                {field: 'costBasisGLPerc', title: 'Price'},
//                {field: 'hasOpen', title: 'Avg. Invest. Per Share'},
//                {field: 'plans', title: 'Current Value'},
//                {field: 'prdType', title: 'Amount Invested'},
//                {field: 'quan', title: 'Invest. GL'},
//                {field: 'shortName', title: 'Est. Annual Income'}
//            ]
//        });

    });
</script>
<!--Scripts end here-->