<!DOCTYPE html>
<html>
<head>
  <title>GdSeed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://www.trirand.com/blog/jqgrid/themes/ui.jqgrid.css"/>
  <link rel="stylesheet" href="http://trirand.com/blog/jqgrid/themes/redmond/jquery-ui-custom.css"/>
  <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="http://www.jqwidgets.com/jquery-widgets-documentation/jqwidgets/styles/jqx.base.css"/>
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.common-material.min.css"/>
  <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.3.1316/styles/kendo.material.min.css"/>
  <%= javascript_include_tag 'application.js' %>
</head>
<body>

<%= render partial: 'shared/top_menu' %>
<%= yield %>

</body>
</html>
